{% load static %}
<div id="bar">
  <b-navbar sticky toggleable type="dark"  class="bg-blue">
    <b-container>
      <b-navbar-brand 
        href="{% url 'index' %} "
        class="mx-auto">VEDA</b-navbar-brand>
  
      <b-navbar-toggle target="navbar-toggle-collapse">
        <template #default="{ expanded }">
        <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
        <b-icon v-else icon="chevron-bar-down"></b-icon>
        </template>
      </b-navbar-toggle>
    
      <b-collapse id="navbar-toggle-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item align="right" href="{% url 'faq' %}">
            FAQ
            <b-icon icon="question-circle" aria-hidden="true" ></b-icon>
          </b-nav-item>
          {% if user.is_authenticated %}
            <b-nav-item align="right" href="{% url 'settings' %}">
              Настройки
              <b-icon icon="gear-fill" animation="spin" aria-hidden="true" ></b-icon>
            </b-nav-item>
            <b-nav-item align="right" href="{% url 'logout' %}">
              Выход
              <b-icon icon="person-fill"></b-icon>
            </b-nav-item>
          {% else %}
            <b-nav-item align="right" href="{% url 'login' %}">
              Вход
              <b-icon icon="person-fill"></b-icon>
            </b-nav-item>
          {% endif %}
        </b-navbar-nav>
      </b-collapse>
    </b-container>    
  </b-navbar>
</div>