{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  FAQ
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="faq">
    <b-container class="mt-5">
      <div class="col-12 bg-light border rounded p-4">
        <div>
          <h2>FAQ</h2>
          <p>Этот раздел создан с целью уточнения самых часто задаваемых вопросов к проекту и описывает принципы разделов сайта.</p>
        </div>
        <div class="mt-5">
          <h3>Перечень часто задаваемых вопросов</h3>

          <h4 class="mt-3">Для кого сделана VEDA?</h4>
          <p class="text-justify">VEDA разработана для учащихся и их кураторов (классных руководителей) учебных учреждений с целью максимизации интеграции куратора и учеников в учебный процесс.  
              Основой идей VEDA послужило отсутствие платформ, которые позволят в одном источнике сразу получать все последние актуальные события по месту обучения и процессов работы группы. 
              Важной особенностью VEDA служит то, что помимо ведения стандартных учебных ведомостей (оценки, пропуски и т.д.), на VEDA можно отслеживать выполнение учебных задач, возложенных на участников группы.
          </p>
          <b-collapse id="ask-1">
            <b-card title="Collapsible card">
              Hello world!
            </b-card>
          </b-collapse>

          <h4 class="mt-3">Кто может видеть основную информацию обо мне?</h4>
          <p class="text-justify"> Мы беспокоимся о конфиденциальности наших пользователей, поэтому под основную информацию о вас попадают лишь ваш уникальный username, хобби, статус, имя и фамилия, все остальное могут знать лишь
            кураторы групп, в которые вы зашли (а именно информацию о родителях, успеваемость, ваши задачи, дата рождения и адресс проживания). Дополнительно ознакомиться с параметрами конфиденциальности можно по переходу в Настройки в
            навигационной панели в шапке сайта.
          </p>

          <h4 class="mt-3">Можно ли удалить аккаунт из VEDA?</h4>
          <p class="text-justify"> На текущий момент, VEDA, в целях безопасности, может удалить аккаунты только по требованию к администратору (контакты можно найти в конце этой страницы).
          </p>

          <h4 class="mt-3">Как восстановить в учетной записи?</h4>
          <p class="text-justify"> Мы реализовали процесс востановления пароля пользователя по электронной почте, попасть на страницу восстановления можно через страницу Вход, которая расположенна по ссылке в
            шапке навигации. Следуя инструкциям на экране вам на почту будет отправлен уникальный код авторизации, который позволит восстановить пароль в VEDA. 
          </p>
        </div>    
        <div class="mt-5">
          <h3>Обратная связь</h3>
          <p class="text-justify">
            VK: <a href="https://vk.com/seamo">https://vk.com/seamo</a>  <br>
            Телефон: +375291112485 <br>
            email: s3boo@yandex.by <br>
          </p>
        </div>           
      </div>
    </b-container>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'faq.js' %}"></script>
{% endblock scripts %}

