{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Group
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <b-container id="group" class="mt-5">
    <b-row>
      <b-col cols=9>
        <div class="card card-outline-secondary m-0">
          <div class="card-header bg-dark text-light">
            <h5>Объявления</h5>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for notice in notices %}
                <a href="#" class="list-group-item list-group-item-action ">{{ notice.message }}</a>
              {% endfor %}
            </div>
            {% if user.client in moderators %}
              <b-form 
                @submit="addNotice" 
                method="POST" 
                action="{% url 'add_notice' group.id %}">

                <b-form-input 
                  type="text" 
                  v-model="noticeManager.notice" 
                  class="inline" 
                  name="message"
                  :state="noticeManager.noticeValid"
                  placeholder="Сообщите что-нибудь!"></b-form-input>
              </b-form>
            {% endif %}
          </div>
        </div>
        <div class="card card-outline-secondary m-0 mt-4">
          <div class="card-header bg-dark text-light">
            <h5>Участники</h5>
          </div>
          <div class="card-body">
            <div class="d-flex">
              {% for moderator in moderators %}
                <div class="d-flex flex-column mx-2">
                  <b-avatar href="{% url 'profile' moderator.id %}" src="{{ moderator.userpic.url }}"></b-avatar>
                  {{  moderator.user.username }}
                </div>                
              {% endfor %}
              {% for listener in listeners %}
                <div class="d-flex flex-column mx-2">
                  <b-avatar href="{% url 'profile' listener.id %}" src="{{ listener.userpic.url }}"></b-avatar>
                  {{  listener.user.username }}
                </div>                
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="mt-4">
          {% for post in posts %}
            <div class="card card-outline-secondary mb-3">
              <div class="card-header bg-dark text-light">
                <h5>{{ post.article }}</h5>
              </div>
              <div class="card-body">
                <p>{{ post.text }}</p>
                <small class="text-muted">Опубликовано <a class="text-dark" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>  {{ post.date_of_create }}</small>
              </div>
            </div>
            <hr>  
          {% endfor %}
        </div>
      </b-col>

      <b-col cols=3>
        <div class="card card-outline-secondary m-0">
          <div class="card-header text-light bg-blue">
            <h5>Расписание</h5>
          </div>
          <div class="card-body">
            <b-tabs small vertical justified>
              <b-tab text="dark" title="Понедельник" active>
                
              </b-tab>

              <b-tab text="dark" title="Вторник">
                
              </b-tab>

              <b-tab text="dark" title="Среда">
                <div class="list-group list-group-flush">
                  <a class="list-group-item list-group-item-action small" v-for="item in items">[[ item ]]</a>
                </div>
              </b-tab>

              <b-tab text="dark" title="Четверг">
                
              </b-tab>

              <b-tab text="dark" title="Пятница">
                
              </b-tab>

              <b-tab text="dark" title="Суббота">
                
              </b-tab>

              <b-tab text="dark" title="Воскресенье">
                
              </b-tab>
            </b-tabs>
          </div>
        </div>
        {% if not user.client in listeners and not user.client in moderators %}
          <b-button class="btn w-100 btn-dark my-2">
            Войти
          </b-button>
        {% else %}
          <b-button class="btn w-100 btn-dark my-2">
            Выйти
          </b-button>
        {% endif %}
     
        <div class="card card-outline-secondary m-0 mt-4">
          <div class="card-header bg-blue text-light">
            <h5>Задачи</h5>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for task in tasks %}
                <a href="#" class="small list-group-item list-group-item-action d-flex justify-content-between">{{ task.content }} 
                  <small> @{{ task.receiver.user.username }} 
                    <b-icon icon="dot" scale=2 variant="{% if task.status == 0 %}danger{% else %}success{% endif %}"></b-icon>
                  </small>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'group.js' %}"></script>
{% endblock scripts %}

