{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Group
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <b-container id="group" class="mt-5">
    <b-row>
      <b-col cols=8>
        <div class="card card-outline-secondary m-0">
          <div class="card-header bg-dark text-light">
            <h5>Объявления</h5>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for notice in notices %}
                <a ref="#" 
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  {{ notice.message }}
                  {% if user.client in moderators %}
                    <b-form 
                      method="POST"
                      action="{% url 'remove_notice' notice.id %}">
                      <b-button type="submit" variant="light">
                        <b-icon icon="x"></b-icon>
                      </b-button>
                    </b-form>
                  {% endif %}
                </a>
              {% endfor %}
            </div>
            {% if user.client in moderators %}
              <b-form 
                @submit="addNotice" 
                method="POST" 
                class="mt-2"
                action="{% url 'add_notice' group.id %}">

                <b-form-input 
                  type="text" 
                  v-model="noticeManager.notice" 
                  class="inline" 
                  name="message"
                  :state="noticeManager.noticeValid"
                  placeholder="Сообщите что-нибудь!"></b-form-input>
              </b-form>
            {% endif %}
          </div>
        </div>
        <div class="card card-outline-secondary m-0 mt-4">
          <div class="card-header bg-dark text-light">
            <h5>Участники</h5>
          </div>
          <div class="card-body">
            <div class="d-flex">
              {% for moderator in moderators %}
                <div class="d-flex flex-column mx-2">
                  <b-avatar href="{% url 'profile' moderator.id %}" src="{{ moderator.userpic.url }}"></b-avatar>
                  {{  moderator.user.username }}
                </div>                
              {% endfor %}
              {% for listener in listeners %}
                <div class="d-flex flex-column mx-2">
                  <b-avatar href="{% url 'profile' listener.id %}" src="{{ listener.userpic.url }}"></b-avatar>
                  {{  listener.user.username }}
                </div>                
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="mt-4">
          {% if user.client in moderators %}
            <b-card title="Новая публикация">
              <b-form 
                method="POST" 
                action="{% url 'group_post' group.id %}" 
                enctype="multipart/form-data"
                @submit="onSubmitPost">
                <b-form-input
                  type="text"
                  name="article"
                  v-model="postForm.article"
                  :state="validateArticle"
                  placeholder="Заголовок для поста"></b-form-input>
                <b-form-textarea
                  name="text"
                  v-model="postForm.text"
                  :state="validateContent"
                  placeholder="Текст под заголовок"
                  class="my-2"></b-form-textarea>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="custom-file">
                    <input 
                    type="file" 
                    name="file" 
                    class="custom-control-input"
                    v-model="postForm.file">
                  </div>
                  
                  <b-button 
                    type="submit"
                    variant="dark"
                    class="my-2 w-50">Опубликовать</b-button>
                </div>
              </b-form>
            </b-card>
          {% endif %}
          {% for post in posts %}
            <hr>  
            <div class="card card-outline-secondary mt-2">
              <div class="card-header bg-dark text-light">
                <h5>{{ post.article }}</h5>
              </div>
              <div class="card-body">
                <p>{{ post.text }}</p> 
                <a href="{{ post.file.url }}"> {{ post.file}}</a>
                <small class="text-muted">Опубликовано <a class="text-dark" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>  {{ post.date_of_create }}</small>
              </div>
            </div>
          {% endfor %}
        </div>
      </b-col>

      <b-col cols=4>
        <div class="card card-outline-secondary m-0">
          <div class="card-header text-light bg-blue">
            <h5>Расписание</h5>
          </div>
          <div class="card-body">
            <b-tabs small vertical justified>
              <b-tab text="dark" title="Понедельник" active>
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 1 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Вторник">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 2 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Среда">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 4 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Четверг">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 5 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Пятница">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 5 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Суббота">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 6 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>

              <b-tab text="dark" title="Воскресенье">
                <div class="list-group list-group-flush">
                  {% for x in sheet %}
                    {% if x.day == 7 %}
                      <a class="list-group-item list-group-item-action small"> {{ x.discipline }} </a>
                    {% endif %}
                  {% endfor %}
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
        {% if not user.client in listeners and not user.client in moderators %}
          <b-form method="POST" action="{% url 'group_enter' group.id %}">
            <b-button type="submit" class="btn w-100 btn-dark my-2">
              Войти
            </b-button>
          </b-form>
         
        {% else %}
          <b-form method="POST" action="{% url 'group_out' group.id %}">
            <b-button class="btn w-100 btn-dark my-2" type="submit">
              Выйти
            </b-button>
          </b-form>
        {% endif %}
     
        <div class="card card-outline-secondary m-0 mt-4">
          <div class="card-header bg-dark text-light">
            <h5>Таблица лидеров</h5>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for listener in listeners %}
                <a href="#" class="small list-group-item list-group-item-action d-flex justify-content-between">
                  {{ listener.user.last_name }} [[' ']] {{ listener.user.first_name }}
                  <small>  
                    9
                  </small>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="card card-outline-secondary m-0 mt-4">
          <div class="card-header bg-blue text-light">
            <h5>Задачи</h5>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush">
              {% for task in tasks %}
                <a href="#" class="small list-group-item list-group-item-action d-flex justify-content-between">{{ task.content }} 
                  <small> @{{ task.receiver.user.username }} 
                    <b-icon icon="dot" scale=2 variant="{% if task.status == 0 %}danger{% else %}success{% endif %}"></b-icon>
                  </small>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'group.js' %}"></script>
{% endblock scripts %}

