{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Основная страница
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="index">
    <b-container class="mt-5">
      <b-row align-h="between" class="d-flex flex-column-reverse flex-md-row">
        <b-col cols="12" {% if user.is_authenticated %} md="6" lg="8" {% endif %} class="p-0 mt-md-0 mt-3">
          <b-tabs  justified>
            <b-tab title="Блог разработчика" active class="pt-3">
              {% for post in admin_posts %}
                <div class="card card-outline-secondary mb-3">
                  <div class="card-header bg-blue text-light">
                    <h4>{{ post.article }}</h4>
                  </div>
                  <div class="card-body">
                    <p>{{ post.text }}</p>
                    <small class="text-muted">Опубликовано <a class="text-dark" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>  {{ post.date_of_create }}</small>
                  </div>
                </div>
                <hr>  
              {% endfor %}
            </b-tab>
            {% if user.is_authenticated %}
              <b-tab title="Новости из групп" class="pt-3">
                {% for post in group_posts_moderator %}
                  <div class="card card-outline-secondary mb-3">
                    <div class="card-header bg-blue text-light d-flex justify-content-between flex-column">
                      <h4 >{{ post.article }}</h4>
                    </div>
                    <div class="card-body">
                      <p>{{ post.text }}</p>
                      <small class="text-muted">Опубликовано <a class="text-dark" href="#">{{ post.author }}</a>  {{ post.date_of_create }} в группе <a href="{% url 'group' post.group.id %}" class="text-dark">{{ post.group }}</a>
                      </small>
                    </div>
                  </div>
                  <hr>  
                {% endfor %}
                {% for post in group_posts_listener %}
                  <div class="card card-outline-secondary mb-3">
                    <div class="card-header bg-blue text-light d-flex justify-content-between flex-column">
                      <h4 >{{ post.article }}</h4>
                    </div>
                    <div class="card-body">
                      <p>{{ post.text }}</p>
                      <small class="text-muted">Опубликовано <a class="text-dark" href="#">{{ post.author }}</a>  {{ post.date_of_create }} в группе <a href="{% url 'group' post.group.id %}" class="text-dark">{{ post.group }}</a>
                      </small>
                    </div>
                  </div>
                  <hr>  
                {% endfor %}
              </b-tab>
            {% endif %}
          </b-tabs>
        </b-col>

        {% if user.is_authenticated %}
          <b-col cols="12" md=5 lg=3 class="p-0">
            {% if user.is_authenticated %}
            <b-form 
              class="mt-5"
              method="GET"
              action="{% url 'group_search' %}">
              <b-form-input
                type="text"
                name="tag"
                placeholder="Поиск"></b-form-input>
            </b-form>
            <div class="card card-outline-secondary mt-2">
              <div class="card-body d-flex flex-row align-items-center justify-content-around">
                <div class="flex-column">
                  <b-avatar href="{% url 'profile' user.client.id %}" src="{{ user.client.userpic.url }}" size="lg"></b-avatar>
                  <br>
                  <small> @{{ user.username }} </small>
                </div>
                <div class="list-group small list-group-flush">
                  <p class="list-group-item m-0 p-0">{{ user.last_name }} {{ user.first_name }}</p>
                  <p class="list-group-item m-0 mt-1 p-0">{{ user.client.day_of_birthday }}</p>
                  <small class="list-group-item m-0 mt-1 p-0">{{ user.client.status }}</small>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="card card-outline-secondary m-0 mt-2">
              <div class="card-header bg-dark text-light">
                <h5>Инструменты</h5>
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush">
                  <a href="{% url 'create_group' %}" class="list-group-item list-group-item-action ">Создать группу</a>
                  <a class="list-group-item list-group-item-action" href="#filters-collapse" @click.prevent v-b-toggle>Фильтры</a>
                    <b-collapse id="filters-collapse">
                      <b-card class="my-2">
                        <b-card-body class="d-flex flex-column p-0 m-0 small text-dark justify-content-between">
                          <b-form-checkbox
                            switch
                            v-model="personalNotifications"
                            class="d-flex justify-content-between flex-row">
                            Личные уведомления
                          </b-form-checkbox>
                          <b-form-checkbox
                            v-model="systemNotifications"
                            class="d-flex justify-content-between flex-row"
                            switch>
                            Системные уведомления
                          </b-form-checkbox>
                          <b-form-checkbox
                            v-model="groupTasksNotifications"
                            class="d-flex justify-content-between flex-row"
                            switch>
                            Задачи групп
                          </b-form-checkbox>
                          <b-form-checkbox
                            v-model="groupPostsNotifications"
                            class="d-flex justify-content-between flex-row"
                            switch>
                            Публикации групп
                          </b-form-checkbox>
                          <b-form-checkbox
                            v-model="adminPostsNotifications"
                            class="d-flex justify-content-between flex-row"
                            switch>
                            Посты от разработчиков
                          </b-form-checkbox>
                        </b-card-body>
                      </b-card>
                  </b-collapse>
                  {% if user.is_staff %}
                    <a href="#" class="list-group-item list-group-item-action" v-b-modal.new-post>Новый пост</a>
                  {% endif %}
                  <a href="#" v-b-modal.my-notes class="list-group-item list-group-item-action">Моя ведомость</a>
                  <b-modal
                    id="my-notes"
                    title="Моя ведомость">
                    <p>Средний балл: {{ avg }}</p>
                    <p>Количество пропусков: {{ count_n }}</p>
                    <p>Количество оценок ниже 4: {{ count_less_than_4 }}</p>

                  </b-modal>
                  <a href="#task-collapse" @click.prevent v-b-toggle class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Задачи {% if tasks %} <b-badge class="text-light bg-dark">{{ tasks|length }} </b-badge> {% endif %}
                  </a>
                  <b-collapse id="task-collapse">
                    {% for task in tasks %}
                      <b-card class="my-2">
                        <b-card-body class="d-flex p-0 m-0 small text-dark justify-content-between">
                          {{ task.content }} 
                          <b-icon icon="dot" scale=2 variant="{% if task.status == 0 %}danger{% else %}success{% endif %}"></b-icon>
                        </b-card-body>
                      </b-card>
                    {% endfor %}
                  </b-collapse>

                  <a href="#notification-collapse" @click.prevent v-b-toggle class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Уведомления  {% if notifications %} <b-badge class="text-light bg-dark"> {{ notifications|length }} </b-badge> {% endif %}
                  </a>
                  <b-collapse id="notification-collapse">
                    {% for notification in notifications %}
                      {% if notification.priority == 1 %}
                        <b-card 
                        v-if="personalNotifications" 
                        class="mt-2">
                          <div class="d-flex justify-content-between align-items-center small">
                            <span> {{ notification.message }} </span> 
                            <b-form
                              method="POST"
                              action="{% url 'remove_notification' notification.id %}">
                              <b-button variant="link" class="text-dark" size="sm" type="submit">
                                <b-icon-x-circle scale="0.8"></b-icon-x-circle>
                              </b-button>
                            </b-form>
                          </div>
                        </b-card>
                      {% endif %}

                      {% if notification.priority == 2 %}
                        <b-card 
                          class="mt-2"
                          v-if="systemNotifications">
                          <div class="d-flex justify-content-between align-items-center small">
                            <span> {{ notification.message }} </span> 
                            <b-form
                              method="POST"
                              action="{% url 'remove_notification' notification.id %}">
                              <b-button variant="link" class="text-dark" size="sm" type="submit">
                                <b-icon-x-circle scale="0.8"></b-icon-x-circle>
                              </b-button>
                            </b-form>
                          </div>
                        </b-card>
                      {% endif %}

                      {% if notification.priority == 3 %}
                        <b-card 
                          class="mt-2"
                          v-if="groupTasksNotifications" >
                          <div class="d-flex justify-content-between align-items-center small">
                            <span> {{ notification.message }} </span> 
                            <b-form
                              method="POST"
                              action="{% url 'remove_notification' notification.id %}">
                              <b-button variant="link" class="text-dark" size="sm" type="submit">
                                <b-icon-x-circle scale="0.8"></b-icon-x-circle>
                              </b-button>
                            </b-form>
                          </div>
                        </b-card>
                      {% endif %}

                      {% if notification.priority == 4 %}
                        <b-card 
                          v-if="groupPostsNotifications" 
                          class="mt-2">
                          <div class="d-flex justify-content-between align-items-center small">
                            <span> {{ notification.message }} </span> 
                            <b-form
                              method="POST"
                              action="{% url 'remove_notification' notification.id %}">
                              <b-button variant="link" class="text-dark" size="sm" type="submit">
                                <b-icon-x-circle scale="0.8"></b-icon-x-circle>
                              </b-button>
                            </b-form>
                          </div>
                        </b-card>
                      {% endif %}

                      {% if notification.priority == 5 %}
                        <b-card 
                          v-if="adminPostsNotifications" 
                          class="mt-2">
                          <div class="d-flex justify-content-between align-items-center small">
                            <span> {{ notification.message }} </span> 
                            <b-form
                              method="POST"
                              action="{% url 'remove_notification' notification.id %}">
                              <b-button variant="link" class="text-dark" size="sm" type="submit">
                                <b-icon-x-circle scale="0.8"></b-icon-x-circle>
                              </b-button>
                            </b-form>
                          </div>
                        </b-card>
                      {% endif %}
                    {% endfor %}
                  </b-collapse>
                  </div>
              </div>
            </div>
            <div class="card card-outline-secondary mt-5">
              <div class="card-header bg-dark text-light">
                <h5>Группы</h5>
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush">
                  {% for group in m_groups %} 
                    <a href="{% url 'group' group.id %}" class="list-group-item list-group-item-action ">#{{ group.name }}</a>
                  {% endfor %}
                  {% for group in l_groups %} 
                    <a href="{% url 'group' group.id %}" class="list-group-item list-group-item-action ">#{{ group.name }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </b-col>
        {% endif %}
      </b-row>
    </b-container>
    <b-modal 
      id="new-post"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk">
      <b-form @submit="handleSubmit" method="POST" action="{% url 'post' %}" id="form-data">
        <b-form-group
          label="Заголовок"
          label-for="article"
          invalid-feedback="Введите заголовок"
          :state="articleValid">
          <b-form-input
            id="article"
            maxlength="50"
            v-model="article"
            name="article"
            required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Содержание"
          label-for="content"
          invalid-feedback="Введите содержание поста"
          :state="contentValid">
          <b-form-textarea
            id="content"
            v-model="content"
            rows="4"
            name="content"
            placeholder="Сообщите всем о чем то важном!"
            required></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'index.js' %}"></script>
{% endblock scripts %}