{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Основная страница
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="index">
    <b-container class="mt-5">
      <b-row align-h="between">
        <b-col cols="8" class="p-0">
          <b-tabs  justified>
            <b-tab title="Блог разработчика" active class="pt-3">
              {% for post in admin_posts %}
                <div class="card card-outline-secondary mb-3">
                  <div class="card-header bg-blue text-light">
                    <h4>{{ post.article }}</h4>
                  </div>
                  <div class="card-body">
                    <p>{{ post.text }}</p>
                    <small class="text-muted">Опубликовано <a class="text-dark" href="#">{{ post.author }}</a>  {{ post.date_of_create }}</small>
                  </div>
                </div>
                <hr>  
              {% endfor %}
            </b-tab>
            <b-tab title="Новости из групп" class="pt-3">
              {% for post in group_posts %}
                <div class="card card-outline-secondary mb-3">
                  <div class="card-header bg-blue text-light d-flex justify-content-between flex-column">
                    <h4 >{{ post.article }}</h4>
                  </div>
                  <div class="card-body">
                    <p>{{ post.text }}</p>
                    <small class="text-muted">Опубликовано <a class="text-dark" href="#">{{ post.author }}</a>  {{ post.date_of_create }} в группе <a href="{% url 'group' post.group.id %}" class="text-dark">{{ post.group }}</a>
                    </small>
                  </div>
                </div>
                <hr>  
              {% endfor %}
            </b-tab>
          </b-tabs>
        </b-col>
        <b-col cols="3" class="p-0">
          <div class="card card-outline-secondary m-0">
            <div class="card-header bg-dark text-light">
              <h5>Инструменты</h5>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action ">Создать группу</a>
                <a class="list-group-item list-group-item-action" href="#">Фильтры</a>
                {% if user.is_staff %}
                  <a href="#" class="list-group-item list-group-item-action" v-b-modal.new-post>Новый пост</a>
                {% endif %}
                <a href="#" class="list-group-item list-group-item-action">Моя ведомость</a>

                <a href="#task-collapse" @click.prevent v-b-toggle class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  Задачи {% if tasks %} <b-badge class="text-light bg-dark">{{ tasks|length }} </b-badge> {% endif %}
                </a>
                <b-collapse id="task-collapse">
                  {% for task in tasks %}
                    <b-card class="mt-2 small">
                      {{ task.content }}
                    </b-card>
                  {% endfor %}
                </b-collapse>

                <a href="#notification-collapse" @click.prevent v-b-toggle class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                  Уведомления  {% if notifications %} <b-badge class="text-light bg-dark"> {{ notifications|length }} </b-badge> {% endif %}
                </a>
                <b-collapse id="notification-collapse">
                  {% for notification in notifications %}
                    <b-card class="mt-2 small ">
                      <b-notification notificationId="{{ notification.id }}" message="{{ notification.message }}">
                      </b-notification>
                    </b-card>
                  {% endfor %}
                </b-collapse>
                </div>
            </div>
          </div>
          <div class="card card-outline-secondary mt-5">
            <div class="card-header bg-dark text-light">
              <h5>Группы</h5>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush">
                {% for group in groups %} 
                  <a href="{% url 'group' group.id %}" class="list-group-item list-group-item-action ">#{{ group.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <b-modal 
      id="new-post"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk">
      <b-form ref="form" @submit="handleSubmit">
      
        <b-form-group
          label="Заголовок"
          label-for="article"
          invalid-feedback="Введите заголовок"
          :state="articleState">
          <b-form-input
            id="article"
            v-model="article"
            required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Содержание"
          label-for="content"
          invalid-feedback="Введите содержание поста"
          :state="contentState">
          <b-form-textarea
            id="content"
            v-model="content"
            rows="4"
            placeholder="Сообщите всем о чем то важном!"
            required></b-form-textarea>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'index.js' %}"></script>
{% endblock scripts %}