{% extends 'main_template.html' %}
{% load static %}

{% block title %}
  Вход
{% endblock %}

{% block application %}
  <div id=app class="container w-50 mt-5 p-5">
    <div class="row justify-content-center align-items-center">
      <b-form @submit="onSubmit" method="POST" action="{% url 'login' %}">
        <a href="{% url 'index' %}">
          <b-img 
            src="{% static 'logo.png' %}" 
            class="mb-5" 
            center fluid 
            alt="VEDA LOGO" 
            style="height: 100px;"></b-img>
        </a>
        <p>Основная информация</p>
        <b-form-input 
          type="email" 
          v-model="email" 
          name="email" 
          placeholder="Электронная почта"
          class="mb-2"></b-form-input>
      
        <b-form-input 
          type="text" 
          v-model="password" 
          name="password" 
          placeholder="Пароль"
          class="mb-2"></b-form-input>
        
        <b-link href="{% url 'recover' %}">Восстановить пароль</b-link>
        <div class="row d-flex justify-content-around mt-4">
          <b-button type="submit" pill variant="primary" size="sm" class="col-12 col-md-3 mr-4 mb-2 success-button">Вход</b-button>
          <b-button type="reset" pill variant="primary" size="sm" class="col-12 col-md-3 mr-4 mb-2 danger-button">Сбросить значения</b-button>
          <b-button pill size="sm" @click="toRegister" variant="dark" class="col-12 col-md-5 mb-2 secondary-button">Создать новую учетную запись</b-button>  
        </div>
      </b-form>  
    </div>  
  </div>    
{% endblock %}

{% block scripts %}
  <script src="{% static 'login.js' %}"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
    body, html {  background-color: #212529;}
    #app {
      background-color: whitesmoke;
    }
  </style>
{% endblock %}