{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Profile
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <b-container id="profilePage" class="mt-5">
    <b-row>
      <b-col cols=4> 
        <img src="{{ client.userpic.url }}" class="img-fluid rounded" alt="LOGO">
        <p class="text-muted font-weight-bold">@{{ client.user.username }}</p>
      </b-col>

      <b-col cols=8>
        <h1>{{ client.user.first_name }} {{ client.user.last_name }}</h1>
        <p>{{ client.status }}</p>
        <p>Хобби: {{ client.hobbies }}</p>
        <p>Дата рождения: {{ client.day_of_birthday }}</p>
        <p>Адрес проживания: {{ client.adress }}</p>

        {% if client.vk %}
          <p>VK: <a href="{{ client.vk }}">{{ client.vk }}</a></p>
        {% endif %}

        {% if client.instagam %}
          <p>Instagram: <a href="{{ client.instagram }}">{{ client.instagram }}</a></p>
        {% endif %}
      </b-col>
      <div class="card card-outline-secondary mt-5">
        <div class="card-header bg-dark text-light">
          <h5>Группы</h5>
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush">
            {% for group in groups %} 
              <a href="{% url 'group' group.id %}" class="list-group-item list-group-item-action ">#{{ group.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </b-row>
  </b-container>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'profile.js' %}"></script>
{% endblock scripts %}

