{% extends 'main_template.html' %}
{% load static %}

{% block title %}
  Регистрация
{% endblock %}

{% block application %}
  <div id=app class="container w-50 mt-5 p-5">
    <div class="row justify-content-center align-items-center">
      {% if error %}
          <b-alert variant="warning" show>Ошибка в создании профиля, скорее всего -- никнейм уже занят!</b-alert>
      {% endif %}
      <b-form
        @submit="onSubmit"
        method="POST"
      >
        <a href="{% url 'index' %}">
          <b-img 
            src="{% static 'logo.png' %}" 
            class="mb-5" 
            center fluid 
            alt="VEDA LOGO" 
            style="height: 100px;"></b-img>
        </a>
        <p>Основная информация</p>
        <b-form-input-group>
          <b-form-input 
          type="email" 
          v-model="form.email" 
          :state="validate_email"
          name="email" 
          placeholder="Электронная почта"
          class=""></b-form-input>
          <b-form-invalid-feedback :state="validate_email">Введите почту.</b-form-invalid-feedback>
        </b-form-input-group>
       
        <b-form-input-group>
          <b-form-input 
          type="text" 
          :state="validate_username"
          v-model="form.username" 
          name="username" 
          placeholder="Уникальное имя пользователя"
          class="mt-2"></b-form-input>
          <b-form-invalid-feedback :state="validate_username">Имя должно быть длиннее четырех знаков.</b-form-invalid-feedback>
        </b-form-input-group>
       
        <b-form-input 
            type="password" 
            v-model="form.password" 
            :state="validate_password"
            name="password" 
            placeholder="Пароль"
            class="mt-2"></b-form-input>
        <b-form-invalid-feedback :state="validate_password">Минимум 8 символов для пароля.</b-form-invalid-feedback>

        <b-form-input 
            type="password" 
            v-model="form.password_repeat" 
            :state="validate_repeat_password"
            placeholder="Подтверждение пароля"
            class="mt-2"></b-form-input>
        <b-form-invalid-feedback :state="validate_repeat_password">Пароли не совпадают.</b-form-invalid-feedback>
      
        <p class="mt-4">Личная информация</p>
        <b-form-input 
            type="text"
            v-model="form.firstname"
            :state="validate_name"
            name="firstname"
            placeholder="Имя"
            class="mt-2 col-12 col-md-5"></b-form-input>
        
        <b-form-input 
            type="text"
            v-model="form.secondname"
            :state="validate_name"
            name="secondname"
            placeholder="Фамилия"
            class="mt-2 col-12 col-md-7"></b-form-input>
        <b-form-invalid-feedback :state="validate_name">Поля личных данных не заполнены.</b-form-invalid-feedback>

        <b-form-input 
          type="text"
          v-model="form.hobbies"
          name="hobbies"
          placeholder="Ваши хобби"
          class="mt-2 col-12 col-md-7"></b-form-input>
      
        <b-form-input
          type="text"
          v-model="form.address"
          name="address"
          placeholder="Адрес"
          class="mt-2"></b-form-input>

        <b-form-input-group>
          <b-form-select 
          v-model="form.gender" 
          size="lg" 
          class="mt-2 w-100"
          :state="validate_gender">
          <template #first>
            <b-form-select-option :value="null" selected disabled>Выберите пол</b-form-select-option>
          </template>

          <b-form-select-option value="M">Мужчина</b-form-select-option>
          <b-form-select-option value="F">Женщина</b-form-select-option>
          <b-form-select-option value="O">Другое</b-form-select-option>
          </b-form-select>
          <input type="hidden" v-model="form.gender" name="gender"> </input>
        <b-form-invalid-feedback :state="validate_gender">Выберите пол.</b-form-invalid-feedback>
        </b-form-input-group>
       

        <b-form-input
          type="date"
          v-model="form.day_of_birthday"
          name="dob"
          :state="validate_dob"
          placeholder="Дата рождения"
          class="mt-2">
        </b-form-input>
        
        <div class="row d-flex justify-content-around mt-4">
          <b-button type="submit" pill variant="primary" size="sm" class="col-12 col-md-3 mr-4 mb-2 success-button">Создать аккаунт</b-button>
          <b-button type="reset" pill variant="primary" size="sm" class="col-12 col-md-3 mr-4 mb-2 danger-button">Сбросить значения</b-button>
          <b-button pill size="sm" @click="toLogin" variant="dark" class="col-12 col-md-5 mb-2 secondary-button">Войти в уже существующий аккаунт</b-button>  
        </div>
      </b-form>  
    </div>  
  </div>    
{% endblock %}

{% block scripts %}
  <script src="{% static 'register.js' %}"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
    <!-- body, html { height: 100%; background-color: #212529;} -->
    #app {
      background-color: whitesmoke;
    }
  </style>
{% endblock %}