{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Настройки
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="settings" class="container mt-5" name="{{ user.first_name }}">
    <b-card no-body>
      <b-tabs pills v-model="tabIndex" card vertical justified content-class="mt-3">
        <b-tab title="Личные данные" active :title-link-class="linkClass(0)"><b-card-text>
          <b-form class="mt-3">
            <b-form-group 
              label="Ваше имя"
              label-for="name-input">
              <b-form-input
                id="name-input"
                v-model="personalForm.name"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Ваша фамилия"
              label-for="surname-input"
              class="mt-3">
              <b-form-input
                id="surname-input"
                v-model="personalForm.surname"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Дата рождения"
              label-for="dob-input"
              class="mt-3">
              <b-form-input
                id="dob-input"
                v-model="personalForm.dob"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Хобби"
              label-for="hobbies-input"
              class="mt-3">
              <b-form-input
                id="hobbies-input"
                v-model="personalForm.hobbies"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Адрес"
              label-for="address-input"
              class="mt-3">
              <b-form-input
                id="address-input"
                v-model="personalForm.address"></b-form-input>
            </b-form-group>

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Конфиденциальность" :title-link-class="linkClass(1)"><b-card-text>
          <b-form class="mt-3">
            <b-form-group 
              label="Ваш текущий пароль"
              label-for="password-input">
              <b-form-input
                id="password-input"
                v-model="securityForm.password"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Новый пароль"
              label-for="new_password-input"
              class="mt-3">
              <b-form-input
                id="new_password-input"
                v-model="securityForm.new_password"></b-form-input>
            </b-form-group>

            <b-form-group 
              label="Подтверждение нового пароля"
              label-for="new_password_retry-input"
              class="mt-3">
              <b-form-input
                id="new_password_retry-input"
                v-model="securityForm.new_password_retry"></b-form-input>
            </b-form-group>

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Уведомления" :title-link-class="linkClass(2)"><b-card-text>
          <b-form-group
            label="Настройки получения уведомления">
            <b-form-checkbox-group
              v-model="selected"
              :options="notificationsForm"
              name="notificationOption"
              stacked
            ></b-form-checkbox-group>
          </b-form-group>
          <div class="d-flex justify-content-around align-items-center mt-4">
            <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
            <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
          </div>
        </b-card-text></b-tab>
      </b-tabs>
    </b-card>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'settings.js' %}"></script>
{% endblock scripts %}

