{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Настройки
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="settings" class="container mt-5" name="{{ user.first_name }}">
    <b-card no-body>
      <b-tabs pills v-model="tabIndex" card vertical justified content-class="mt-3">
        <b-tab title="Личные данные" active :title-link-class="linkClass(0)"><b-card-text>
          <b-form 
            method="POST"
            action="{% url 'update_user' user.id %}"
            class="mt-3">
            <b-form-group
              label="Имя"
              labelfor="nameInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  id="nameInput"
                  maxlength="100"
                  placeholder="Имя"
                  value="{{ user.first_name }}"
                  name="first_name">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Фамилия"
              maxlength="100"
              labelfor="secondnameInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  id="secondnameInput"
                  placeholder="Фамилия"
                  name="last_name"
                  value="{{ user.last_name }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

           
            <b-form-group
              label="Статус"
              label-for="statusInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  maxlength="100"
                  id="statusInput"
                  placeholder="Статус"
                  name="status"
                  value="{{ user.client.status }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Хобби"
              label-for="hobbiesInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  id="hobbiesInput"
                  placeholder="Хобби"
                  maxlength="100"
                  name="hobbies"
                  value="{{ user.client.hobbies }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Адрес"
              label-for="adressInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  id="adressInput"
                  placeholder="Адрес"
                  name="adress"
                  maxlength="50"
                  value="{{ user.client.adress }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="VK"
              label-for="vkInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  placeholder="VK"
                  name="vk"
                  value="{{ user.client.vk }}">
                </b-form-input>
              </b-form-input-group>  
            </b-form-group>

            <b-form-group
              label="Instagram"
              label-for="instagramInput"
              class="mb-4">
              <b-form-input
                  placeholder="Instagram"
                  value="{{ user.client.intagram }}"
                  name="instagram">
              </b-form-input>
            </b-form-group>

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Конфиденциальность" :title-link-class="linkClass(1)"><b-card-text>
          {% if password_error %} 
            <b-alert variant="warning" show>Ошибка в смене пароля, проверьте правильность данных!</b-alert>
          {% endif %}
          <b-form 
            class="mt-3"
            method="POST"
            @submit="passwordSubmit"
            action="{% url 'update_password' user.id %}">
            <b-form-group 
              label="Ваш текущий пароль"
              label-for="password-input">
              <b-form-input
                type="password"
                id="password-input"
                name="password"
                :state="validate_password"
                v-model="passwordForm.currentPassword"></b-form-input>
                <b-form-invalid-feedback :state="validate_password">Введите пароль, не менее 8 символов.</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group 
              label="Новый пароль"
              label-for="new_password-input"
              class="mt-3">
              <b-form-input
                type="password"
                id="new_password-input"
                name="new_password"
                :state="validate_new_password"
                v-model="passwordForm.newPassword"></b-form-input>
                <b-form-invalid-feedback :state="validate_new_password">Введите новый пароль, не менее 8 символов.</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group 
              label="Подтверждение нового пароля"
              label-for="new_password_retry-input"
              class="mt-3">
              <b-form-input
                type="password"
                id="new_password_retry-input"
                :state="validate_new_password_repeat"
                v-model="passwordForm.newPasswordRepeat"></b-form-input>
              <b-form-invalid-feedback :state="validate_new_password_repeat">Пароли не одинаковы.</b-form-invalid-feedback>
            </b-form-group>

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Родители" :title-link-class="linkClass(2)"><b-card-text>
          <div class="d-flex flex-column align-items-center justify-content-around">
            <b-card class="w-100 p-0">
              <b-card-header class="mb-3">
                Отец
              </b-card-header>
              <b-form
                method="POST"
                action="{% url 'update_father' %}">
                <b-form-input
                  type="text"
                  value="{{ user.client.father.surname }}"
                  placeholder="Фамилия"
                  required
                  class="mb-2"
                  maxlength="30"
                  name="surname"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.father.name }}"
                  placeholder="Имя"
                  required
                  class="mb-2"
                  maxlength="30"
                  name="name"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.father.middlename }}"
                  placeholder="Отчество"
                  class="mb-2"
                  required
                  maxlength="30"
                  name="middlename"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.father.job }}"
                  placeholder="Работа"
                  maxlength="60"
                  class="mb-2"
                  name="job"
                ></b-form-input>

                <b-form-group
                  label-for="father_dob"
                  class="mb-2"
                  label="Дата рождения">
                  <b-form-input
                    id="father_dob"
                    type="date"
                    value="{{ user.client.father.date_of_birthday|date:'Y-m-d' }}"
                    name="dob"
                  ></b-form-input>
                </b-form-group>
             
                <b-form-input
                  type="phone"
                  value="{{ user.client.father.phone }}"
                  class="mb-2 mt-2"
                  placeholder="Телефон"
                  maxlength="20"
                  name="phone"
                ></b-form-input>

                <div class="d-flex justify-content-around align-items-center mt-4">
                  <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
                  <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
                </div>
              </b-form>
            </b-card>
          </div>

          <div class="d-flex flex-column align-items-center justify-content-around">
            <b-card class="w-100 p-0">
              <b-card-header class="mb-3 mt-5">
                Мать
              </b-card-header>
              <b-form
                method="POST"
                action="{% url 'update_mother' %}">
                <b-form-input
                  type="text"
                  value="{{ user.client.mother.surname }}"
                  placeholder="Фамилия"
                  required
                  class="mb-2"
                  maxlength="30"
                  name="surname"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.mother.name }}"
                  placeholder="Имя"
                  required
                  class="mb-2"
                  maxlength="30"
                  name="name"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.mother.middlename }}"
                  placeholder="Отчество"
                  class="mb-2"
                  required
                  maxlength="30"
                  name="middlename"
                ></b-form-input>

                <b-form-input
                  type="text"
                  value="{{ user.client.mother.job }}"
                  placeholder="Работа"
                  maxlength="60"
                  class="mb-2"
                  name="job"
                ></b-form-input>

                <b-form-group
                  label-for="mother_dob"
                  class="mb-2"
                  label="Дата рождения">
                  <b-form-input
                    id="mother_dob"
                    type="date"
                    value="{{ user.client.mother.date_of_birthday|date:'Y-m-d' }}"
                    name="dob"
                  ></b-form-input>
                </b-form-group>
             
                <b-form-input
                  type="phone"
                  value="{{ user.client.mother.phone }}"
                  class="mb-2 mt-2"
                  placeholder="Телефон"
                  maxlength="20"
                  name="phone"
                ></b-form-input>

                <div class="d-flex justify-content-around align-items-center mt-4">
                  <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
                  <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
                </div>
              </b-form>
            </b-card>
          </div>
        </b-card-text>
      </b-tab>
      <b-tab title="Персонализация" :title-link-class="linkClass(4)">
        <b-form
          action="{% url 'update_userpic' %}"
          method="POST"
          enctype="multipart/form-data">
         <div class="custom-file">
            <input type="file" 
              id="file" 
              name="file"
              class="custom-file-input"
              required>
            <label class="custom-file-label" for="inputGroupFile04">Выберите новую аватарку</label>
          </div>
          <b-button 
            type="submit"
            class="w-100"
            variant="dark">Отправить</b-button>
        </b-form>
      </b-tab>
      </b-tabs>
    </b-card>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'settings.js' %}"></script>
{% endblock scripts %}

