{% extends 'main_template.html' %}
{% load static %}

{% block title%}
  Настройки
{% endblock %}

{% block application %}
  {% include 'borders_template.html' %}
  <div id="settings" class="container mt-5" name="{{ user.first_name }}">
    <b-card no-body>
      <b-tabs pills v-model="tabIndex" card vertical justified content-class="mt-3">
        <b-tab title="Личные данные" active :title-link-class="linkClass(0)"><b-card-text>
          <b-form 
            method="POST"
            action="{% url 'update_user' user.id %}"
            class="mt-3">
            <b-form-group
              label="Имя"
              labelfor="nameInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  id="nameInput"
                  placeholder="Имя"
                  value="{{ user.first_name }}"
                  name="first_name">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Фамилия"
              labelfor="secondnameInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  id="secondnameInput"
                  placeholder="Фамилия"
                  name="last_name"
                  value="{{ user.last_name }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

           
            <b-form-group
              label="Статус"
              label-for="statusInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  id="statusInput"
                  placeholder="Статус"
                  name="status"
                  value="{{ user.client.status }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Хобби"
              label-for="hobbiesInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  id="hobbiesInput"
                  placeholder="Хобби"
                  name="hobbies"
                  value="{{ user.client.hobbies }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="Адрес"
              label-for="adressInput"
              class="mb-4">
              <b-form-input-group>
                <b-form-input
                  id="adressInput"
                  placeholder="Адрес"
                  name="adress"
                  value="{{ user.client.adress }}">
                </b-form-input>
              </b-form-input-group>
            </b-form-group>

            <b-form-group
              label="VK"
              label-for="vkInput"
              class="mb-2">
              <b-form-input-group>
                <b-form-input
                  placeholder="VK"
                  name="vk"
                  value="{{ user.client.vk }}">
                </b-form-input>
              </b-form-input-group>  
            </b-form-group>

            <b-form-group
              label="Instagram"
              label-for="instagramInput"
              class="mb-4">
              <b-form-input
                  placeholder="Instagram"
                  value="{{ user.client.intagram }}"
                  name="instagram">
              </b-form-input>
            </b-form-group>

            <!-- <b-form-group
            label="Фотография на странице профиля"
            label-for="userpicInput"
            class="mb-4">
            <b-form-file
                name="userpic"
                value="{{ user.client.userpic }}">
            </b-form-file>
          </b-form-group> -->

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Конфиденциальность" :title-link-class="linkClass(1)"><b-card-text>
          {% if password_error %} 
            <b-alert variant="warning" show>Ошибка в смене пароля, проверьте правильность данных!</b-alert>
          {% endif %}
          <b-form 
            class="mt-3"
            method="POST"
            @submit="passwordSubmit"
            action="{% url 'update_password' user.id %}">
            <b-form-group 
              label="Ваш текущий пароль"
              label-for="password-input">
              <b-form-input
                type="password"
                id="password-input"
                name="password"
                :state="validate_password"
                v-model="passwordForm.currentPassword"></b-form-input>
                <b-form-invalid-feedback :state="validate_password">Введите пароль, не менее 8 символов.</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group 
              label="Новый пароль"
              label-for="new_password-input"
              class="mt-3">
              <b-form-input
                type="password"
                id="new_password-input"
                name="new_password"
                :state="validate_new_password"
                v-model="passwordForm.newPassword"></b-form-input>
                <b-form-invalid-feedback :state="validate_new_password">Введите новый пароль, не менее 8 символов.</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group 
              label="Подтверждение нового пароля"
              label-for="new_password_retry-input"
              class="mt-3">
              <b-form-input
                type="password"
                id="new_password_retry-input"
                :state="validate_new_password_repeat"
                v-model="passwordForm.newPasswordRepeat"></b-form-input>
              <b-form-invalid-feedback :state="validate_new_password_repeat">Пароли не одинаковы.</b-form-invalid-feedback>
            </b-form-group>

            <div class="d-flex justify-content-around align-items-center mt-4">
              <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
              <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
            </div>
          </b-form>
        </b-card-text></b-tab>

        <b-tab title="Родители" :title-link-class="linkClass(2)"><b-card-text>
          
          <div class="d-flex justify-content-around align-items-center mt-4">
            <b-button type="submit" class="w-50" variant="dark">Сохранить изменения</b-button>
            <b-button type="reset" class="bg-blue w-25">Сбросить</b-button>
          </div>
        </b-card-text></b-tab>
      </b-tabs>
    </b-card>
  </div>
{% endblock application %}

{% block scripts %}
  <script src="{% static 'navbar.js' %}"></script>
  <script src="{% static 'settings.js' %}"></script>
{% endblock scripts %}

